<div class="bg">
    <div class="container-fluid p-0 m-0">
        <div class="py-2 text-right px-5">
            <a routerLink="/authors/{{aid}}">Dashboard</a>
        </div>
        <div class="home-bg-img">
            <div class="text-center">
                <div class="app-heading">
                    <h1>TALK TALES</h1>
                </div>
                <h6 class="text-light">Have Interactive Experience Whiles Reading Stories</h6>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="card p-3 text-center text-light bg-info"> <h1 class="font-weight-bold">ADD CHAPTERS</h1></div>
    </div>
    <div class="container">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="text-muted"><span class="text-warning">Story Title:</span> {{ story.story_title }}</h3>
                </button>
            </p>

          <div class="collapse" id="collapseExample">
            <div *ngFor="let chap of chapters" class="card p-2 m-2 rounded bg-light acc">
              {{chap.chapter_title}}
            </div>
          </div>

        <div>
            <div>
                <span class="text-muted">Number of Chapters</span>
                <span class="badge badge-dark">{{ numberOfChapters }}</span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card my-3">
            <div class="w-75 mx-auto">
                <form [formGroup]="chapterForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex justify-content-between mt-3">
                        <div class="form-group p-0 d-flex">
                            <select formControlName="candidate" id="chapters" class="custom-select bg-light w-100 mr-2">
                                <option *ngFor="let chapter of chapters" value="{{chapter._id}}">{{ chapter.chapter_title}}</option>
                            </select>
                            <button (click)="addDeps()" type="button" class="btn btn-secondary btn-raised"> + </button>
                        </div>

                        <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput>
                        <input style="display: none" type="file" accept="audio/*" (change)="onFileChanged($event)" #audioInput>
                        <input style="display: none" type="file" accept="video/*" (change)="onFileChanged($event)" #videoInput>

                        <div class="w-25">
                            <div class="d-flex justify-content-around">
                                <button (click)="fileInput.click()" class="btn btn-ligth text-muted border-right"><i class="fas fa-image fa-2x"></i></button>
                                <button (click)="audioInput.click()" class="btn btn-ligth text-muted border-right"><i class="fas fa-volume-up fa-2x"></i></button>
                                <button (click)="videoInput.click()" class="btn btn-ligth text-muted "><i class="fab fa-youtube fa-2x"></i></button>
                            </div>
                        </div>
                    </div>


                    <span class="text-muted mr-2">dependencies</span>
                    <span *ngFor="let dep of deps">
                        <span class="badge badge-primary mr-1">{{ dep }}</span>
                    </span>
                   

                    <div class="form-group mt-4">
                        <label for="exampleChapterInput">Chapter Title</label>
                        <input formControlName="chapter_title" (input)="onTitleChange($event.target.value)" type="text" class="form-control w-50" id="exampleChapterInput" aria-describedby="emailHelp" placeholder="Chapter title...">
                        <small id="emailHelp" class="form-text text-muted">Enter the title of your Chapter in the field above</small>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Chapter Content</label>
                        <textarea formControlName="chapter_content" (input)="onContentChange($event.target.value)" class="form-control" id="exampleFormControlTextarea1"  rows="3"></textarea>
                    </div>

                    <div class="my-2 text-right">
                        <button (click)="addChapter()" type="submit" class="btn btn-raised btn-info w-25">Add Chapter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>