<div class="bg">
    <div class="container-fluid p-0 m-0">
        <div class="home-bg-img">
            <div class="text-center">
                <div class="app-heading">
                    <h1>TALK TALES</h1>
                </div>
                <h6 class="text-light">Have Interactive Experience Whiles Reading Stories</h6>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="card p-3 text-center text-light bg-info"> <h1 class="font-weight-bold">ADD CHAPTERS</h1></div>
    </div>
    <div class="container">
        <div>
            <h3 class="text-muted"><span class="text-warning">Story Title:</span> The Golden Castle</h3>
            <div>
                <span class="text-muted">Number of Chapters</span>
                <span class="badge badge-dark">3</span>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="card my-3">
            <div class="w-75 mx-auto">
                <form>
                    <div class="d-flex justify-content-between mt-3">
                        <div class="form-group p-0 d-flex">
                            <select id="gender" class="custom-select bg-light w-100 mr-2">
                                <option value='' selected>--Chapter Dependencies--</option>
                                <option value="tales">Chapter 1</option>
                                <option value="drama">Chapter 2</option>
                                <option value="fiction">Chapter 3</option>
                            </select>
                            <button type="button" class="btn btn-secondary btn-raised"> + </button>
                        </div>
                        <div class="w-25">
                            <div class="d-flex justify-content-around">
                                <a href="" class="btn btn-ligth text-muted border-right"><i class="fas fa-image fa-2x"></i></a>
                                <a href="" class="btn btn-ligth text-muted border-right"><i class="fas fa-volume-up fa-2x"></i></a>
                                <a href="" class="btn btn-ligth text-muted "><i class="fab fa-youtube fa-2x"></i></a>
                            </div>
                        </div>
                    </div>

                    <span class="text-muted mr-2">dependencies </span>
                    <span class="badge badge-primary mr-1">Chapter 1</span>
                    <span class="badge badge-primary mr-1">Chapter 2</span>
                    <span class="badge badge-primary mr-1">Chapter 3</span>

                    <div class="form-group mt-4">
                        <label for="exampleChapterInput">Chapter Title</label>
                        <input type="text" class="form-control w-50" id="exampleChapterInput" aria-describedby="emailHelp" placeholder="Chapter title...">
                        <small id="emailHelp" class="form-text text-muted">Enter the title of your Chapter in the field above</small>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Chapter Content</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3"></textarea>
                    </div>

                    <div class="my-2 text-right">
                        <button type="button" class="btn btn-raised btn-info w-25">Add Chapter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>