<div class="body">
    <div class="container-fluid p-0 m-0">
        <div class="home-bg-img">
            <div class="text-center">
                <div class="app-heading">
                    <h1>TALK TALES</h1>
                </div>
                <h6 class="text-light">Have Interactive Experience Whiles Reading Stories</h6>
            </div>
        </div>
    </div>

    <div class="header color-primary text-light w-75 p-3">
        <h1>CREATE NEW STORY</h1>
    </div>

    <div class="container py-5">
        <div class="card">
            <div class="container my-5">
                <form [formGroup]="storyForm" (ngSubmit)="onSubmit()" class="mx-5">
                    <div class="form-group mb-5">
                        <label for="exampleInputEmail1">Story Title</label>
                        <input formControlName="story_title" type="text" class="form-control mx-auto" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Story title...">
                        <small id="emailHelp" class="form-text text-muted">Enter the title of your story in the field above</small>
                    </div>

                    <div class="form-group mb-5 w-25">
                        <label for="exampleInputCat">Story Category</label>
                        <input formControlName="story_category" type="text" class="form-control mx-auto" id="exampleInputCat" aria-describedby="emailHelp" placeholder="Eg. Drama, Fiction, ...">
                    </div>

                    <div class="form-group border rounded">
                        <label for="exampleFormControlTextarea1">Story Desription</label>
                        <textarea formControlName="story_description" class="form-control" id="exampleFormControlTextarea1"  rows="10"></textarea>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Write a Brief description about your story</small>

                    <div class="my-2 text-right">
                        <small class="text-muted mx-3">Upload a cover image for your story</small>
                        <button type="button" class="btn btn-raised btn-secondary">Upload Image</button>
                    </div>

                    <input type="submit" class="btn btn-raised btn-info w-25" value="Save Story">
                </form>
            </div>
        </div>
    </div>

</div>
