

<div class="bg">
    <div class="text-right py-3 px-5">
        <a routerLink="/index">Home</a>
    </div>

    <div class="container-fluid p-0 m-0">
        <div class="home-bg-img">
            <div class="text-center">
                <div class="app-heading">
                    <h1>TALK TALES</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="card px-2 py-4 text-center text-muted">
            <h4><span class="text-warning">Story Title: </span>{{story.story_title}}</h4>
        </div>
    </div>
    
    <div *ngIf="start == '0'" style="height: 300px;" class=" startbg container mb-3 py-3 text-center bg-light d-flex justify-content-center align-items-center">
        <div>
            <div class="display-3">Welcome to {{story.story_title}} story</div>
            <p>We Hope you have an Interractive Experience. <span class="text-warning">Take Note of Prompts</span></p>
            <button (click)="nextChapter()" data-toggle="modal" data-target="#startModalCenter" style="height: 70px; font-size: larger;" class="btn btn-success btn-raised mt-5 w-50"> START READING <i class="fas fa-arrow-circle-right"></i> </button>
        </div>
    </div>

    <div *ngIf="start != '0'" class="container mb-3 py-5">
        <p class="display-3 cTitle text-muted text-center border-bottom border-secondary py-1">{{currentChapter.chapter_title}}</p>
        <div class="row">
            <div class="col-7 h5 chapter-content border border-secondary mx-2 startbg">
                <div class="py-3" *ngIf="currentChapter._id == '6b5eabbd4d1f4effbba18e33ed94cdee' ">
                    <span class="bg-primary text-light py-2 px-3 rounded mr-3"> THIS CHAPTER HAS A VIDEO => </span> <button data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-info btn-raised">Open Chapter Video</button> 
                </div>

                <div class="py-3" *ngIf="currentChapter._id == '4619a309fc6249709d3d8149ad775ed5' ">
                    <span class="bg-primary text-light py-2 px-3 rounded mr-3">YEY!!! IMAGE FOR THIS CHAPTER => </span> <button data-toggle="modal" data-target="#imageModalCenter" class="btn btn-info btn-raised">Open Chapter Image</button> 
                </div>
                
               <p class="cc">{{ currentChapter.chapter_content }}</p> 
                <div class="text-center my-4">
                    <button (click)="nextChapter()" class="btn btn-success btn-raised w-50"> NEXT CHAPTER <i class="fas fa-arrow-circle-right"></i> </button>
                </div>
            </div>

            <div class="col-4 rounded border border-secondary d-flex align-items-top justify-content-center bg-light">
                <div class="py-3">
                    <img class="img-thumbnail" src="../../../assets/images/{{currentChapter._id}}.jpg" width="100%" alt="">
                </div>
                
            </div>
        </div>
        
    </div>

            <!-- Delete Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chapter Video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <video width="320" height="240" controls>
                        <source src="../../../assets/images/boatandship.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                <h2> </h2>
                </div>
                <div class="modal-footer">
                <!-- <button  type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
                </div>
            </div>
            </div>
        </div>
    <!-- End of Delete Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="imageModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Chapter Photo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/images/castle.jpg" width="80%" class="text-center img-thumbnail" alt="">
            <h2> </h2>
            </div>
            <div class="modal-footer">
            <!-- <button  type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
            </div>
        </div>
        </div>
    </div>
<!-- End of Delete Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="storyEndModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Chapter Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <img src="../../../assets/images/castle.jpg" width="80%" class="text-center img-thumbnail" alt="">
        <h2> </h2>
        </div>
        <div class="modal-footer">
        <!-- <button  type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
        </div>
    </div>
    </div>
</div>
<!-- End of Delete Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="startModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Happy to Start?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body text-center">
            <img src="https://i.gifer.com/origin/8d/8d1cef2b73127f2350249eb1d6e28fa9_w200.gif" width="150px" class="text-center img-thumbnail" alt="">
            <span class="h2 text-primary mx-3">LET'S DO IT!!!</span>
        <h2> </h2>
        </div>
        <div class="modal-footer">
        <button  type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Yes</button>
        </div>
    </div>
    </div>
</div>
<!-- End of Delete Modal -->

<!-- https://i.gifer.com/origin/8d/8d1cef2b73127f2350249eb1d6e28fa9_w200.gif -->
<!-- https://www.google.com/url?sa=i&url=https%3A%2F%2Fgifer.com%2Fen%2Fgifs%2Fhappy&psig=AOvVaw3t3hskok2H-GcuWVm6ihrl&ust=1576925306074000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPi379eGxOYCFQAAAAAdAAAAABAO -->

</div>

