body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(230, 230, 230);
}

.home-bg-img{
    background: linear-gradient(to right bottom, rgba(46, 83, 92, 0.4), rgba(40, 180, 133, 0.4)), url('../../../../assets/images/talktales.jpg');
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100% );
}
.app-heading h1{
    font-size: 70px;
    font-weight: bold;
    background: -webkit-linear-gradient(#009FFF, #ec2F4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s;
    -webkit-text-stroke: 1px white;
}

.app-heading h1:hover{
    background: -webkit-    linear-gradient( #f5af19, #f12711);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a:hover{
    text-decoration: none;
}
.recent-card{
    background: rgb(255, 255, 255);
}